[Unit]
Description=RS485-Logger
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=15s
ExecStart=/usr/bin/python3 -u /home/pi/logger/rs485.py

[Install]
WantedBy=multi-user.target
