[Unit]
Description=LogBerryLogger
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=15s
ExecStart=/usr/bin/python3 -u /home/pi/logger/logger.py

[Install]
WantedBy=multi-user.target
